html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, figure{
	border: 0;
	font-family: inherit;
	/*font-size: 0;*/
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top;
}

a{
	text-decoration: none;
}
a img{
	border: 0;
}

body{
	font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
	font-size: 16px;
	margin:5px;
	width: 100%;
	color: #2c3e50;
}
div .overlay:before {
  bottom: -11px;
  content: "";
  display: block;
  height: 14px;
  left: 4px;
  position: absolute;
  width: 15px;
}
/*Mapa lo que encontramos*/
div[data-mapa="encontramos"] {
	background:#3498db;
	border:2px solid #2980b9;
}
div[data-mapa="encontramos"]:before {
	background: url("points.png");
}
div[data-categoria="rest>50"] {
	background: url(icons.png) no-repeat 0 0px #3498db;
}
div[data-categoria="rest<50"] {
	background: url(icons.png) no-repeat 0 -20px #3498db;
}
div[data-categoria="tiendita"] {
	background: url(icons.png) no-repeat 0 -40px #3498db;
}
div[data-categoria="material escolar"] {
	background: url(icons.png) no-repeat 0 -60px #3498db;
}
div[data-categoria="esparcimiento"] {
	background: url(icons.png) no-repeat 0 -80px #3498db;
}
div[data-categoria="otros"] {
	background: url(icons.png) no-repeat 0 -100px #3498db;
}
div[data-categoria="base de taxis"] {
	background: url(icons.png) no-repeat 0 -120px #3498db;
}
div[data-categoria="base de camiones"] {
	background: url(icons.png) no-repeat 0 -140px #3498db;
}
div[data-categoria="salud"] {
	background: url(icons.png) no-repeat 0 -160px #3498db;
}
div[data-categoria="cafe"] {
	background: url(icons.png) no-repeat 0 -260px #3498db;
}
div[data-categoria="deporte"] {
	background: url(icons.png) no-repeat 0 -300px #3498db;
}
div[data-categoria="escuela"] {
	background: url(icons.png) no-repeat 0 -320px #3498db;
}
/*Mapa lo que mejoraríamos*/
div[data-mapa="mejorariamos"] {
	background: #e74c3c;
	border:solid 2px #c0392b;
}
div[data-mapa="mejorariamos"]:before {
	background: url("points.png") 0 -16px ;
}
div[data-categoria="coladeras"] {
	background: url(icons.png) no-repeat 0 -200px #e74c3c;
}
/*Mapa lo que vemos*/
div[data-mapa="vemos"] {
	background: #2ecc71;
	border:solid 2px #27ae60;
}
div[data-mapa="vemos"]:hover {
	cursor: pointer;
}
div[data-mapa="vemos"]:before {
	background: url("points.png") no-repeat 0 -33px ;
}
div[data-categoria="foto"]{
	background: url(icons.png) no-repeat 0 -220px #2ecc71;
}

div[data-mapa="mejorariamos"],
div[data-mapa="vemos"],
.js-submejorariamos,
.js-subvemos
{
	display: none;
}
html{
	font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
	font-size: 16px;
}
header {
  background: #ecf0f1;
  border-top: 1rem solid #e67e22;
  box-shadow: 2px 2px 10px #aaa;
  left: 0;
  padding: 0.5rem 1.5rem;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 18rem;
}
h1 {
  color: #2C3E50;
  font-size: 2rem;
  font-weight: bold;
}
h2, 
div[data-control="mapa"] {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 1rem;
}
h3, 
div[data-control="tipo"] {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 0.5rem;
}
input[type="checkbox"]{
	margin: 0.5rem;
}
#controles {
  background: #ECF0F1;
  border-left: 1rem solid #bdc3c7;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 20rem;
  z-index: 50;
}
#foto{
	width:1000px !important;
	height:667px !important;
	top:10px !important;
}
#map{
	box-shadow: 0px 5px 20px #ccc;
	-moz-box-shadow: 0px 5px 20px #ccc;
	-webkit-box-shadow: 0px 5px 20px #ccc;
	display: block;
	height: 100%;
	left: 0;
	margin: 0 auto;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
.opciones{
	display: block;
}
.opciones span{
	display: block;
	margin-left: 2rem;
}
.overlay {
  border-radius: 50%;
  box-shadow: 2px 2px 10px #789;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  width: 20px;
  z-index: 10;
}
.overlay button{
	display: none;
}
.overlay:hover {
  background-repeat: no-repeat;
  border-radius: 25px;
  cursor: context-menu;
  font-size: 0.9rem;
  height: auto;
  min-width: 100px;
  padding: 0 3px 0 25px;
  width: auto;
  z-index: 11;
}
.overlay:hover button{
	display: block;
}
/*Simbología*/
div[data-control="categoria"] label,
.peligro,
.foto {
	display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 35px;
}
div[data-control="tipo"] input[type="checkbox"]{
	margin: 0 0.5rem;
}
label[for="escuela"]{
	background: url(simbologia.png) no-repeat 0 0;	
}
label[for="supermercado"]{
	background: url(simbologia.png) no-repeat 0 -30px;	
}
label[for="rest>50"]{
	background: url(simbologia.png) no-repeat 0 -60px;	
}
label[for="rest<50"]{
	background: url(simbologia.png) no-repeat 0 -90px;	
}
label[for="tiendita"]{
	background: url(simbologia.png) no-repeat 0 -120px;	
}
label[for="material escolar"]{
	background: url(simbologia.png) no-repeat 0 -150px;	
}
label[for="esparcimiento"]{
	background: url(simbologia.png) no-repeat 0 -180px;	
} 
label[for="salud"]{
	background: url(simbologia.png) no-repeat 0 -210px;	
} 
label[for="cafe"]{
	background: url(simbologia.png) no-repeat 0 -240px;	
} 
label[for="deporte"]{
	background: url(simbologia.png) no-repeat 0 -270px;	
} 
label[for="otros"]{
	background: url(simbologia.png) no-repeat 0 -300px;	
} 
label[for="base de taxis"]{
	background: url(simbologia.png) no-repeat 0 -330px;	
} 
label[for="base de camiones"]{
	background: url(simbologia.png) no-repeat 0 -360px;	
}
span.peligro{
	background: url(simbologia.png) no-repeat 0 -390px;
	margin: 0 30px;	
}
span.foto{
	background: url(simbologia.png) no-repeat 0 -420px;
	margin: 0 30px;	
}
/**/
.js-subencontramos,
.js-submejorariamos,
.js-subvemos {
    margin-left: 25px;
}
.js-submejorariamos div[data-control="categoria"] span {
	padding-left: 30px;
}
.encontrar{
	border-color: #2980b9 !important;
}
.mejorar {
	border-color: #c0392b !important;
    left: 21rem !important;
}
.ver {
	border-color: #27ae60 !important;
    left: 42rem !important;
}



	